/* Information */

.info {
    background: var(--blue-400); 
    max-width: 350px;
}

.contact-container {
    display: flex;
    gap:30px;
    

    & h6 {
        font-size: var(--fs-18);
        font-weight: 700;
        padding-bottom: 10px;
    }

    & p, li, a, address {
        font-size: var(--fs-16);
        font-weight: 400;
    }
}

/* Contact form */

.contact form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & a {
        text-decoration: underline;
        color: var(--blue-100);

        &:hover {
            color: var(--blue-75);
        }
    }

    & button {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        background: var(--blue-400);
        padding: 10px 30px;
        cursor: pointer;
        transition: background 300ms ease;
        margin-bottom: 0;

        &:hover {
            background: var(--blue-300);
        }
       }
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;

    & textarea {
        resize: none;
        min-height: 200px;
    }


    & input, textarea {
        border-bottom: 2px solid var(--blue-300);
        padding: 10px 10px;
        outline: none;
        transition: all 0.5s ease;
        border:2px solid rgba(235, 245, 251, 0.1);
        border-bottom: 2px solid var(--blue-100);
        background: rgba(235, 245, 251, 0.02);

        &:valid {
            border: 2px solid var(--blue-300);
            background: transparent;
            
        }
        &:focus {
            border: 2px solid var(--blue-300);
            background: transparent;
        }
    }

    & input:valid ~ label, 
    input:focus ~ label,
    textarea:valid ~ label, 
    textarea:focus ~ label {
        color: var(--blue-300);
        opacity: 1;
        transform: translateX(10px) translateY(-10px);
        font-size: 12px;
        font-weight: 600;
        padding: 0px 10px;
        letter-spacing: 1px;
        background: var(--ebony-400);
        border-left: 2px solid var(--blue-300);
        border-right: 2px solid var(--blue-300);
    }

    & label {
        position: absolute;
        pointer-events: none;
        padding: 10px;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        opacity: .6;
    }
}

/* Accessibility cards */

.accessibility-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 160px;
    padding-bottom: 160px;

    & .card {
        flex: 1 0 320px;  
        max-width: 450px;
    }

    & article:first-child .top{
        background-color: var(--yellow-300);
    }

    & article:nth-child(2) .top{
        background-color: var(--green-light-300);
    }

    & article:nth-child(3) .top{
        background-color: var(--orange-300);
    }

    & article .top {
        display: flex;
        justify-content: center;
        padding: 60px;
    }

    & article .bottom {
        text-align: center;
        padding: 30px;
        background: var(--ebony-300);

        & h6 {
            font-size:var(--fs-18) ;
            font-weight: 700;
            padding-bottom: 20px;
        }

        & p {
            font-size: var(--fs-16);
            font-weight: 400;
        }
    } 
}

/* Map */

.map  iframe {
    width: 100%;
    min-height: 600px;
   
    padding-bottom: 10px;
}
  