/* Hamburger menu */

#close,
#check {
    display: none;
}

#check:checked + #open {
    display: none;
}
#check:checked + #open + #close {
    display: block;
}

#check:checked + #open + #close +.nav-bar {
    height: calc(100vh - 150px);
    display: block;
}

.hamburger-menu {
    display: none;
    & .fa-solid {
        color: var(--blue-100);
        font-size: 30px;
        display: grid;
        place-content: center;
        width: 50px;
        height: 50px;
        background-color: var(--ebony-300);
        cursor: pointer;
        transition: outline 300ms ease, opacity 300ms ease;
    }

    & .fa-solid:hover {
        outline: 1px solid rgba(172, 213, 240, 0.3);
        opacity: .8;
    }
}

.nav-bar {
    
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 150px;
    width: 50%;
    min-width: 320px;
    height: 0%;
    background-color: var(--ebony-400);
    z-index: 10;
    transition: height 300ms ease;
    overflow: hidden;

    & .links{
        font-size: 20px;
        width: 100%;
        text-align: left;
    }

    & ul:first-child {
        border-top: 5px solid var(--ebony-300);
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px 30px;
    }

    & ul:nth-child(2) {
        border-top: 5px solid var(--ebony-300);
        gap: 15px;
        padding-top: 30px;
        padding-inline: 20px;
        
        & li {
            cursor: pointer;
        }

        & li:hover {
            opacity: .8;
        }
    }

    & a {
        display: inline;
    }
}