.facebook-icon::after {
    content: url("../images/home/facebook_icon.webp");
}
.twitter-icon::after {
    content: url("../images/home/twitter_icon.webp");
    fill: red;
}
.youtube-icon::after {
    content: url("../images/home/youtube_icon.webp");
}
.instagram-icon::after {
    content: url("../images/home/instagram_icon.webp");
}
.pinterest-icon::after {
    content: url("../images/home/pinterest_icon.webp");
}

.accessibility-icon::after {
    content: url("../images/contact/accessibility_icon.svg");
}
.food-icon::after {
    content: url("../images/contact/food_icon.svg");
}
.shop-icon::after {
    content: url("../images/contact/shop_icon.svg");
}