.animation-fade {
animation: fade linear both;
animation-timeline: view();
animation-range: cover 0% contain 0%;
}

@keyframes fade {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.animation-pulse-background {
animation: pulse-background 3s infinite alternate ease-in-out;
}

@keyframes pulse-background {
from {
  background-size: 100%;
}
to {
  background-size: 105%;
}
}

.animation-lr {
animation: linear left-to-right;
animation-timeline: view();
}

@keyframes left-to-right {
entry 0%  {
  opacity: 0; transform: translatex(-100%); 
}
entry 100%  {
  opacity: 1; transform: translatex(0);
} 
}

.animation-rl {
animation: linear right-to-left;
animation-timeline: view();
}

@keyframes right-to-left {
entry 0%  {
  opacity: 0; transform: translatex(100%);
}
entry 100%  {
  opacity: 1; transform: translatex(0);
}
}

.animation-bt {
animation: linear bottom-to-top;
animation-timeline: view();
}

@keyframes bottom-to-top {
entry 0%  {
  opacity: 0; transform: translateY(20%); scale: .95;
}
entry 100%  {
  opacity: 1; transform: translateY(0); scale: 1;
}

}

.animation-in-out {
animation: linear animate-in-and-out;
animation-timeline: view();
}

@keyframes animate-in-and-out {
entry 0%  {
  opacity: 0; transform: translateY(100%);
}
entry 100%  {
  opacity: 1; transform: translateY(0);
}

exit 0% {
  opacity: 1; transform: translateY(0);
}
exit 100% {
  opacity: 0; transform: translateY(-100%);
}
}

