/* Tablets or small screen laptops */

@media (width < 1024px) {

    /* ----> INDEX PAGE <----*/

    /* Header */
    .index .header-hero__text {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* Index */
    .index .welcome {
        height: auto;
        padding-top: 16rem;
        padding-bottom: 16rem;
        text-align: center; 
      
        & img{
            width: 300px;
        }
        
        & article:nth-child(1) {
            grid-template-columns: 1fr;  
        }

        & article:nth-child(2) {
            grid-template-columns: 1fr;

            & div {
                order: 2;
            }
        }
    }

    /* Exhibition spaces */
    .index .card:nth-child(3) {
        display: none;
    }

    /* Discover more */
    .discover-more__container {
        text-align: center;
        

        & picture {
            max-width: 280px;
            margin: auto;
        }

        & article:nth-child(1) {
            grid-template-columns: 1fr;
        }
        & article:nth-child(2) {
            grid-template-columns: 1fr;
            & div {
                order:2;
            }
        }
        & article:nth-child(3) {
            grid-template-columns: 1fr;
        }
    }
    /* Footer */

    footer div:first-child {
        flex-direction: column;
        align-content: center;
    }

    footer .footer-logo,
    footer .footer-nav,
    footer .footer-social {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer-nav {
        & nav {
            gap:30px;
        }

        & ul {
            flex-direction: row;
            gap: 30px;
        }
    }

    .footer-social {
        text-align: center;

        & ul {
            padding: 10px;
            margin-bottom: 20px;
        }
    }

    /* Hamburguer menu */

    header .nav-desktop {
        display: none;
    }
    header .hamburger-menu {
        display: inline-flex;
    } 

     /* ----> EXHIBITIONS PAGE <----*/

     .exhibitions-main {
        & h1, h2 {font-size: var(--fs-28);}

        & h3 {font-size: var(--fs-32);}
        
        & p {font-size: var(--fs-20);}

        & .cosmology,
        .biology,
        .evolution,
        .robotics,
        .ecology {
           flex-direction: column;
           text-align: center;
           
           & .exhibition-picture {
               max-height: 200px;
           }
        }

        & picture {
            max-width: 290px;
            margin: auto;
            transform: translateX(0);
            transform: translateY(40%);
        }

        & .exhibition-content {
            padding-left: 90px;
            padding-right: 90px;
            padding-top: 200px;
            padding-bottom: 160px;
        }
     }

     /* ----> CONTACT PAGE <----*/

     .contact-main .contact-container {
        padding-top: 0px;
        flex-direction: column;
        text-align: center;

        & .text {
            margin: auto;
            max-width: 400px;
        }

        & .contact form {
            gap: 40px;
        }

        }
     }

/* Tablets */  
     
@media (width < 800px) {

    /* INDEX PAGE */

    .index .card-container {
        flex-direction: column;

        & article:nth-child(3) {
            display: block;
        }
 
        & img {
            aspect-ratio: 16 / 9;
        }
    }

    .events-container .event {
        flex-direction: column;
        text-align: center;
        
        &::before {
            content: none;
        }

        & .date {
            max-width: 100%;
            max-height: 200px;
        }

        & p {
            padding-bottom: 60px;
        }
    }

    .donate_banner > div {
        width: 100%;
        text-align: center;
        
        & button {
            margin: auto;
        }
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr) ;

        & picture:nth-child(2) {
            order:3;
        }
    }

    /* CONTRIBUTIONS PAGE */

    .contributions {
        text-align: center;

        & img {
            max-width: 290px;
        }

        & .contributions-container article {
            grid-template-columns: 1fr;  
        }
        & article:nth-child(2) div {
            order: 2;
           }
        & article:nth-child(2) picture {
            order: 1;
           }
    }

    /* CONTACT PAGE */

    .contact .two-inputs {
        flex-direction: column;
        gap: 40px;
        
    }   
}

/* Phones */ 

@media (width < 480px) {

    /* FONT SIZES */

    h1 {font-size: 2.8rem !important;}
    h3 {font-size:2.2rem !important;}
    h4 {font-size:2rem !important;}
    li, span, p, , a {font-size: 1.4rem !important;}

    .banner-titles h2 {font-size: 2.4rem !important;}

    .copyright p {font-size: 1.2rem !important;}

    .btn-1, .btn-2, .btn-3 {font-size: 1.4rem !important;}

    .contributions-main .phrase h3 { font-size: 1.6rem !important;}

    .date span {font-size: 2.8rem !important;}

    /* INDEX PAGE */


   .pd-50 {
    padding: 20px !important;
   }

    .hamburger-menu .fa-solid {
            width: 40px !important;
            height: 40px !important;
        }

    .pd-50 {
        padding: 50px;
        padding-top: 20px;
    }

    .welcome img {
        max-width: 180px;
    }
    .accessibility-container {
        padding-top: 40px;
    }

    .card-container,
    .events-container,
    .discover-more__container,
    .gallery-container {
        padding-top: 100px;
    }
    .pd-top-100 {
        padding-top: 60px;
    }

    .documents-container h3 {
        padding-top: 30px;
    }

    .documents-container p,
    .documents-container li {
        padding-top: 10px;
    }

    .index .btn-3,
    .events-container,
    .donate_banner {
        margin-bottom: 100px;
    }

    .gallery-container {
        padding-bottom: 120px;
    }

    .gap-50 {
        gap: 20px;
    }

    /* ----> EXHIBITIONS PAGE <----*/

    .exhibitions-main {

        & .exhibition-content {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .exhibitions {

        & .cosmology .exhibition-content {
            background-image: url("../images/exhibitions/cosmology_small.svg");
            background-position: center;
            background-size: cover;
            background-position: center;
        }
        & .evolution .exhibition-content {
            background-image: url("../images/exhibitions/evolution_small.svg");
            background-position: center;
            background-size: cover;
            background-position: center;
        }
        & .biology .exhibition-content {
            background-image: url("../images/exhibitions/biology_small.svg");
            background-position: center;
            background-size: cover;
            background-position: center;
        }
        & .robotics .exhibition-content {
            background-image: url("../images/exhibitions/robotics_small.svg");
            background-position: center;
            background-size: cover;
            background-position: center;
        }
        & .ecology .exhibition-content {
            background-image: url("../images/exhibitions/ecology_small.svg");
            background-position: center;
            background-size: cover;
            background-position: center;
        }
    } 

    /* CONTACT PAGE */

    .phrase  div{
        padding: 50px !important;

        & h2 { 
            font-size: 2.2rem;
        }
    }

    /* FOOTER */

    .footer-nav ul {
        flex-direction: column;
        text-align: center;
        padding-bottom: 0px;
    } 
}

