@import url("framework.css");
@import url("icons.css");
@import url("index.css");
@import url("header.css");

 /* ------------------ VARIABLES ------------------ */

 :root {

    /* MAIN COLORS */

    --color-primary: var(--ebony-400) ;
    --color-secondary: #ffffff;


    /* REST OF COLORS */

    --ebony-50: #eaecee;
    --ebony-75: #a8b0b7;
    --ebony-100: #858f9a;
    --ebony-200: #505f6e;
    --ebony-300: #2c3e50;
    --ebony-400: #1f2b38;
    --ebony-500: #1b2631;

    --coral-50:#ffefed;
    --coral-75: #ffbfb4;
    --coral-100: #ffa594;
    --coral-200: #ff7e66;
    --coral-300: #ff6347;
    --coral-400: #b34532;
    --coral-500: #9c3c2b;
    
    --green-50:#e8f6f3;
    --green-75: #9fd8cd;
    --green-100: #78c8b8;
    --green-200: #3eb09a;
    --green-300: #16a085;
    --green-400: #0f705d;
    --green-500: #0d6251;
    
    --orange-50:#fdf2e9;
    --orange-75: #f5caa4;
    --orange-100: #f1b47f;
    --orange-200: #ea9448;
    --orange-300: #e67e22;
    --orange-400: #a15818;
    --orange-500: #8c4d15;
    
    --grey-50:#f4f6f6;
    --grey-75: #d4dadb;
    --grey-100: #c2cbcb;
    --grey-200: #a7b4b5;
    --grey-300: #95a5a6;
    --grey-400: #687374;
    --grey-500: #5b6565;
      
    --purple-50:#f5eef8;
    --purple-75: #d6bbe1;
    --purple-100: #c59fd5;
    --purple-200: #ac75c2;
    --purple-300: #9b59b6;
    --purple-400: #6d3e7f;
    --purple-500: #5f366f;

    --yellow-50: #fef9e7;
    --yellow-75: #f9e79d;
    --yellow-100: #f7dd74;
    --yellow-200: #f3ce38;
    --yellow-300: #f1c40f;
    --yellow-400: #a9890b;
    --yellow-500: #937809;
    
    --green-light-50:#eafaf1;
    --green-light-75: #a9eac5;
    --green-light-100: #86e1ad;
    --green-light-200: #52d589;
    --green-light-300: #2ecc71;
    --green-light-400: #208f4f;
    --green-light-500: #1c7c45;

    --blue-50:#ebf5fb;
    --blue-75: #acd5f0;
    --blue-100: #89c3ea;
    --blue-200: #57aae1;
    --blue-300: #3498db;
    --blue-400: #246a99;
    --blue-500: #205d86;
    
    /* TYPOGRAPHY */

    --font-primary: 'Poppins', sans-serif;

    --fs-32: 3.2rem;
    --fs-28: 2.8rem;
    --fs-25: 2.5rem;
    --fs-22: 2.2rem;
    --fs-20: 2rem;
    --fs-18: 1.8rem;
    --fs-16: 1.6rem;
 }
   
  
/* ------------------ RESET ------------------ */

    /* ----- BEFORE & AFTER ------ */

    *, *::before, *::after {box-sizing: border-box;}

    blockquote:before, blockquote:after, q:before, q:after {
        content:"";
        content: none;
    }

    /* ----- MARGINS & PADDINGS ----- */

    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    /* ----- IMG ----- */

    img, picture, video, iframe, figure {
        max-width: 100%;
        width: auto;
        display: block;
        object-fit: cover;
        object-position: center center;
    }

    /* ----- LINKS ----- */

    a {
        display: block;
    }
    p a 
    {display: inline;
    }

    /* ----- LISTS ----- */

    li {
        list-style-type: none;
    }

    /* ----- SCROLL BEHAVIOR ----- */

    html {
        scroll-behavior: smooth;
        font-size: 62.5%;
    }

    /* ----- TEXT STYLES ----- */

    h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
        font-size: 1em;
        font-weight: inherit;
        font-style: inherit;
        text-decoration: none;
        color: inherit;
    }

    ::selection {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    /* ----- FORMS ----- */

    form, input, textarea, select, button, label {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        display: block;
        background-color: transparent;
    }

    /* ----- TABLES ----- */

    table, tr, td {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* ----- SVG ----- */
    svg {
        width: 100%;
        display: block;
        fill: currentColor;
    }

    body {
        min-height: 100vh;
        font-size: 100%;
        font-family: var(--font-primary);
        background: var(--color-primary);
        color: var(--color-secondary);
        line-height: 1.4;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }



/* ------------------ GENERAL ------------------*/

    /* ----- BUTTONS ----- */

    .btn-1 {
        font-size: 1.8rem;
        border: 2px solid var(--orange-300);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.8px;
        cursor: pointer;
    }

    .btn-2 {
        padding: 10px 30px;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1.8px;
        cursor: pointer;
        align-self: flex-end;
    }

    .btn-3 {
        font-size: 1.8rem;
        background: var(--ebony-300);
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px;
        letter-spacing: 1.8px;
        font-weight: 600;
        margin-top: 60px;
        margin-bottom: 90px;
    }
   


    /* ----- FORMS ----- */


    /* ----- HOVERS ----- */

    /* ----- BORDERS ----- */

    /* ----- HEADER ----- */

   
    /* ----- FOOTER ----- */



/* h1{font-size: clamp(2.5rem, 5vw, 3.2rem);}
h2{font-size: clamp(2.2rem, 4vw, 2.8rem);}
h3{font-size: clamp(2rem, 3vw, 2.5rem);}
h4{font-size: clamp(1.8rem, 3vw, 2.2rem);}
h5{font-size: clamp(1.6rem, 3vw, 2rem);}
h6{font-size: clamp(1.4rem, 3vw, 1.8rem);} */